*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
 width: 90%;
 background-color: #eee;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
}
.container .col{
 width: 22%;
 height: 200px;
 background-color: black;
 margin: 10px;
}

nav a{
 text-decoration: none;
 width:40%;
}
nav{
 font-size: 20px;
 margin-left: 10%;
 display: flex;
 width: 90%;
}
nav ul li{
 list-style: none;
 width: 25%;
}
nav ul {
 display: flex;
 width: 60%;
}